.notification_modal_container {
    white-space: pre-wrap;
}

/* Holds notification pop-ups*/
.notification_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    pointer-events: none;
    z-index: 9;
}
