@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --background: white;
    --text-primary: black;
    --filled-text-primary: white;
    --background-primary: #433d9d;
    --background-secondary: #48799e;
    --background-tertiary: #afb5af;
    --background-danger: #e82a00;
    --black: #000000;
    --red: #ee0000;
    --green: #00dd5f;
    --yellow: #aaaa00;
    --blue: #6495ed;
    --magenta: #ee00ee;
    --cyan: #008888;
    --slateblue: #6d8be8;
    --plum: #8f29cf;
    --salmon: #fa8072;
    --white: #ffffff;
    --orange: #ff7700;

    --background-level-0: light-dark(oklch(0.9 0 0), oklch(0.2 0 0));
    --background-level-1: light-dark(oklch(0.93 0 0), oklch(0.23 0 0));
    --background-level-2: light-dark(oklch(0.95 0 0), oklch(0.25 0 0));
    --background-level-3: light-dark(oklch(1 0 0), oklch(0.3 0 0));
    --box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    --box-shadow-small: 1px 1px 2px rgba(0, 0, 0, 1);

    --primary-hue: 220deg;
    --primary-accent: oklch(0.5 0.4 var(--primary-hue));
    --secondary-accent: oklch(0.3 0.2 var(--primary-hue));
    --danger-accent: oklch(0.5 0.4 0deg);

    --ap-cyan: #00ffff;
    --ap-slate-blue: #0098ff;
    --ap-magenta: #ff00c7;
    --ap-plum: #cc57ff;
    --ap-red: #ff0000;
    --ap-green: #00db26;
    --ap-light-yellow: #ede091;
    --ap-yellow: #ffd400;
    --ap-orange: #ff6400;
    --ap-salmon: #ff8e72;
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --text-primary: white;
    --filled-text-primary: white;
    --background-primary: #433d9d;
    --background-secondary: #48799e;
    --background-tertiary: #afb5af;
    --background-danger: #e82a00;
    --black: #000000;
    --red: #ee0000;
    --green: #00ff7f;
    --yellow: #fafad2;
    --blue: #6495ed;
    --magenta: #ee00ee;
    --cyan: #00eeee;
    --slateblue: #6d8be8;
    --plum: #af99ef;
    --salmon: #fa8072;
    --white: #ffffff;
    --orange: #ff7700;
}

.dark {
    color-scheme: dark;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--text-primary);
}

.documentation > p {
    margin-left: 1em;
}

.base {
    background-color: var(--background-level-1);
    scrollbar-width: thin;
    scrollbar-color: var(--background-secondary) var(--background-level-0);
    scrollbar-gutter: stable;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    overflow: auto;
    justify-items: stretch;
    align-items: stretch;
    color: light-dark(black, white);
    transition:
        background-color 0.25s ease-in-out,
        color 0.25s ease-in-out;
    grid-template-rows: 3em 1fr;
    grid-template-columns: auto;
}

.material-symbols-rounded {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

.interactive {
    box-shadow: var(--box-shadow-small);
}

.interactive:hover {
    box-shadow: inset var(--box-shadow-small);
}

.interactive:active,
.interactive:focus,
.interactive[data-focused="true"] {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.interactive:disabled,
.interactive[data-disabled="true"] {
    opacity: 0.5;
    box-shadow: 0px 0px 0px black;
    cursor: not-allowed;
}

.section_title {
    font-size: medium;
}

.section_check {
    color: var(--text-primary);
    font-size: medium;
    cursor: pointer;
}
.section_check:hover {
    text-decoration: underline;
}

.section_check.checked,
.section_title.checked {
    color: grey;
    text-decoration: line-through;
    list-style-type: none;
    font-weight: lighter;
}

/* Material Icon CSS */
@font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    font-weight: 100 700;
    font-display: block;
    src: url(https://fonts.gstatic.com/icon/font?kit=sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjzarEsMNMUCI73OyfpCrG-7NwbH1G3kZdilQi81G668VAFmkXr1QjF_c13dGxffx-ktBQeZiEEns57Wr-O2E6iqoCp8S0L7XruGVxPTZduEYozqmXkA2vUkiohDIrMtYeiVt-tjaMB2VTEymii2HUgUkCombMgbbocW0Fk&skey=70ddea8fe54d532e&v=v302)
        format("woff2");
}

.material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
}
