.ap_text {
    --color: var(white);
    color: oklch(from var(--color) calc(l * 0.65) calc(c * 0.75) h);
    font-weight: bolder;
}

:global(.dark) .ap_text {
    color: var(--color);
}

.ap_text_alt {
    --color: var(white);
    color: oklch(from var(--color) calc(l * 0.5) calc(c * 0.5) h);
}

:global(.dark) .ap_text_alt {
    color: var(--color);
}

.player {
    --color: var(--ap-magenta);
    text-decoration: wavy underline var(--color);
}

.player_alt {
    --color: var(--ap-yellow);
    text-decoration: wavy underline var(--color);
}

.player_other {
    --color: var(--ap-light-yellow);
}

.item_prog {
    --color: var(--ap-plum);
}

.item_normal {
    --color: var(--ap-cyan);
}

.item_trap {
    --color: var(--ap-salmon);
}

.item_useful {
    --color: var(--ap-slate-blue);
}

.item_prog_useful {
    --color: var(--ap-yellow);
}

.item_server {
    --color: var(--ap-light-yellow);
}

.location {
    --color: var(--ap-green);
}

.entrance {
    --color: var(--ap-slate-blue);
}

.hint_no_priority {
    --color: var(--ap-cyan);
}

.hint_priority {
    --color: var(--ap-plum);
}

.hint_found {
    --color: var(--ap-green);
}

.hint_unspecified {
    --color: var(--ap-slate-blue);
}

.hint_avoid {
    --color: var(--ap-salmon);
}
