.note_grid {
    display: grid;
    width: 80vw;
    height: 80vh;
    grid:
        "title" 8em
        "note" 1fr
        "." 1em
        "buttons" 3em / 100%;
}

.note_header {
    display: "flex";
    align-items: "baseline";
    gap: "1em";
}

.note_text_area {
    grid-area: "note";
    background-color: var(--background-level-0);
    color: var(--text-color-primary);
    resize: none;
    box-shadow: inset var(--box-shadow-small);
}

.note_footer {
    display: grid;
    grid-area: "buttons";
    width: 100%;
    grid-template-columns: "1fr 1fr";
}
