.note_grid {
    display: grid;
    height: 80vh;
    grid:
        "title" 8em
        "note" 1fr;
}

.note_header {
    display: "flex";
    align-items: "baseline";
    gap: "1em";
}

.note_text_area {
    grid-area: "note";
    background-color: var(--background-level-0);
    color: var(--text-color-primary);
    resize: none;
    box-shadow: inset var(--box-shadow-small);
}
